body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

input[type=checkbox] {
  transform: scale(1.5);
}

h2 {
  visibility: hidden;
}

.displayCityList {
  display: flex;
  width: 100%;
  overflow-x: scroll;
  overflow-scrolling: auto;
}

.flexContainer {
  display: flex;
}

.rw-box {
  margin-top: -2rem;
}

.showWeeklyWeather {
  visibility: hidden;
}
.rw-today {
  display: flex;
  border-bottom: 1px solid blanchedalmond;
}

.rw-day {
  display: flex;
  border-bottom: 1px solid blanchedalmond;
}
.rw-date {
  display: flex;
  width: 100%;
  justify-content: flex-start;
}
.rw-desc{
  display: flex;
  width: 100%;
  justify-content: flex-start;
}
.rw-range {
  display: flex;
  width: 100%;
  justify-content: flex-start;
}
